
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
@font-face {
  font-family: koras;
  src: url(./fonts/NRT-Bd.ttf);
}
* {

  margin: 0;
  padding: 0;
  font-family: koras;
}


.button-33 {
  background-color: #121111;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(240, 245, 242, 0.15) 0 1px 2px,rgba(241, 241, 241, 0.15) 0 2px 4px,rgba(255, 255, 255, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(253, 255, 254, 0.15) 0 16px 32px;
  color: rgb(245, 245, 245);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: koras;
  border-width: 0px;
}

.button-33:hover {
  box-shadow: rgba(210, 200, 0, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.15) ;
  background-color: rgb(189, 164, 0);
  color: black;
  border-bottom: solid 1px white;
 
}
body {
  font-family:koras;

}
span{
  content: "";

  position: relative;
}
img{
  outline: none;
  border: 0px;
  border-top-width: 0;
  border-top-width: 0;
 
}
.centered-div {

  box-shadow: rgb(26, 31, 37) 0px 20px 30px -10px;

  border-radius: 12px;
 width: 50vw;
 height: 50vh;

  
}
.centered-div1 {

padding: 20px;
  border-radius: 12px;
 width: 50vw;
 height: 50vh;

  
}


.center-content{
  display: flex;
  justify-content: center;
}

input{
  border-radius: 4px;
  text-align: center;
  color: rgb(26, 24, 24);
  padding: 4px;
 height: fit-content;
 width: fit-content;
 transition-duration: 500ms;
transition-property: background ;

border-style: none;
}

::placeholder{
  font-size: 15px;
  font-family: koras;
  color: rgb(121, 121, 121);
 border-style: none;

}
input:hover{

  background-color: rgb(56, 90, 133);

 color: rgb(255, 255, 255);
 border: none;

}
.responsive {
  width: 100%;
  height: auto;
}


@media (max-width:500px) {
  img#optionalstuff {
    display: none;
  }
  #resize  {
   margin-right: 1rem;
   background-color: #000000;   }
  
   #com{
    display: none;
    
   }
   
}

@media (min-width:550px ) {
  #com{
    display: flex;
    justify-content: center;
   }
   #mob{
    display: none;
   }
}
:hover::placeholder{
 
  color:rgb(215, 215, 215);
}
input:focus {
  outline: none;
}
::placeholder:focus{
  outline: none;
  
  
  

}

 #resgister2{
  color: black;
   text-decoration: none;
  border-radius: 4px;
   background-color: rgb(158, 152, 152);
   padding: 6px;
   transition: all 0.5s 0s ease;

 }

 
  #resgister2:hover{
  
   width: 120px;

  
 }
 div{
 
 justify-content: center;
  
 }
.divsan{
  background-color: #0c0c0c;
  color: wheat;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  justify-items: center;
  padding: 4px;
  margin-top: 10px;
  
}

.nawkan{
  background-color: blue;
}