@font-face {
  font-family: koras;
  src: url(./fonts/NRT-Bd.ttf);
}

body {
  margin: 0;
  font-family: koras;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
div{
  outline: none;
}


  
  form{
    text-align: center;
  justify-content: center;
  background-color: #202327;
  color: white;
  border-radius: 10px;
 
  }
  
  @media (min-width: 576px) { 


   }
  
 



